<div class="main-container">
  <div class="container1">
    <img src="assets/to-do-image1.png" alt="image-left">
  </div>
  <div class="container2">
    <img src="assets/logo.png" alt="">
    <h1 id="headline"><span>To Do</span></h1>
    <div class="header1">
      <span>To Do gives you focus, from work to</span><br>
      <span>play.</span>
    </div>

    <button><a routerLink="/dashboard">Get Started</a></button>
    <div class="learnMore">
      <span>Learn more</span>
    </div>
    <div class="download">
      <span>Download To-Do</span>
      <div class="icons">
        <img src="assets/android.png" alt="" style="height: 36px">
        <img src="assets/windows.png" alt="" style="height: 36px">
        <img src="assets/mac.png" alt="" style="height: 36px">
      </div>
    </div>
    <div class="terms"><a href="">Terms of use for To Do</a></div>
  </div>
  <div class="container3">
    <img src="assets/to-do-image2.png" alt="image-right">
  </div>
</div>
